
body {
  margin-bottom: -50px;
}

#page-wrap {
  position: relative;
  top: -50px;
}

#footer {
  width: 100%;
  height: 60px;
  position: relative;
  top: 20px;
}

.box {
  zoom: 1;
}

#primary-menu ul.primary-menu li a:hover {
  color: #370c42;
  background-image: none !important;
}

#content-wrapper {
  zoom: 1;
}

#content-inner {
  zoom: 1;
}

a.feed-icon {
  position: absolute;
  top: 40px;
}

.sidebar .item-list ul li a:hover,
.sidebar .item-list ul li a.active {
  background-image: none !important;
}

.sidebar #search-block-form input.form-submit {
  font-size: 0;
  line-height: 0;
}


/* admin.css IE fix */
div.admin .left,
div.admin .right {
  width: 42%;
}