
/* System & Admin */
/* admin.css */
#main-content .item-list .pager {
  text-align: right;
}

.sidebar #search-block-form input.form-submit {
  background: transparent url(../images/search-rtl.png) 0 50% no-repeat;
  margin: 0 7px 0 0;
}