
html {
  background: #000;
}

body {
  color: #2e1737;
  background: #c35d8a url(../images/header.gif) 0 0 repeat-x;
}

#page-wrap {
  background: transparent url(../images/footer.gif) 50% 100% repeat-x;
}

a {
  color: #806;
  text-decoration: none;
}
a:hover {
  color:#2e1737;
  text-decoration: none;
}

.node em {
  color: #fcf;
}

strong {
  border-bottom: #fcf dotted 1px;
}

textarea, input.form-text {
  background: transparent url(../images/contentbg.png) 0 0 repeat;
  border: 0 none;
  padding: 2px;
}

html.js input.form-autocomplete {
  background-color: #eee;
}

/* Heading */
h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.2em;
}

h3, h4, h5, h6 {
  font-size: 1em;
}

#page {
  position: relative;
}

#header {
  position: relative;
  height: 210px;
  margin: 0;
  padding: 0;
}

h1#site-name, #slogan {
  position: relative;
  left: 0;
  top: 110px;
  margin: 0;
  padding: 0;
  line-height: 1;
}

h1#site-name a {
  color: #fff;
  font-family: Times, "Times New Roman", Georgia, Garamond, Cochin, Kinnari, serif;
  font-size: 3em;
  text-decoration: none;
  font-weight: 100;
}

#slogan {
  font-size: 1.4em;
  font-family: Times, "Times New Roman", Georgia, Garamond, Cochin, Kinnari, serif;
  text-transform: uppercase;
  color: #402;
  margin-top: 0.75em;
}

/**
 * Primary menu
 */
#primary-menu {
  position: absolute;
  left: 0; /* LTR */
  top: 0;
  width: 90%;
  font: normal 1.4em/1.3 Futura, 'Century Gothic', 'Apple Gothic', sans-serif;
}

#primary-menu a {
  color: #fff;
}
#primary-menu a:hover {
  color: #370c42;
}

#primary-menu ul.primary-menu {
  float: left; /* LTR */
  border-left:#c3adae dotted 1px; /* LTR */
  margin: 0;
  padding: 0;
  width: 100%;
}

#primary-menu ul.primary-menu li {
  float: left; /* LTR */
  margin: 0;
  padding: 0;
  border-right:#c3adae dotted 1px; /* LTR */
}

#primary-menu ul.primary-menu li a {
  width: 85px;
  height: 43px;
  padding: 23px 5px 0 5px;
  margin: 0 0 10px 0;
  display: block;
  text-align: center;
  color: #fff;
}
#primary-menu ul.primary-menu li a:hover {
  color: #370c42;
  background: url(../images/menuhover.png) repeat-x;
}
#primary-menu ul.primary-menu li a.active {
  color: #fff;
  background:url(../images/menuhover.png) repeat-x;
}

a.feed-icon {
  position: absolute;
  right: 0; /* LTR */
  top: 25px;
  height: 20px;
  padding-right: 20px; /* LTR */
  color: #fff;
  background:url(../images/rss.gif) 100% 50% no-repeat; /* LTR */
  font: normal 1.4em/1.4em Futura, 'Century Gothic', 'Apple Gothic', sans-serif;
}
a:hover.feed-icon {
  color: #370c42;
}

.inner {
  padding: 0;
}

.sidebar .inner {
  padding: 20px 15px;
}

#content-inner {
  background: transparent url(../images/contentbg.png) 0 0 repeat;
  padding: 30px 25px 20px 25px;
}

h1.title,
h2.title {
  font-weight: normal;
  font-family: Futura, 'Century Gothic', 'Apple Gothic', Helvetica, sans-serif;
  text-transform: uppercase;

}
h1.title {
  font-size: 1.8em;
  color: #fff;
}
h2.title a {
  font-size:1.3em;
  color: #fff;
}
h2.title a:hover {
  color: #ddd;
}

.post-info {
  color: #e8cdeb;
  text-transform: uppercase;
  border-bottom: #ae537b dotted 1px;
  padding-bottom: 0.5em;
}

.submitted {
  float: left; /* LTR */
}

.time-author {
  color: #844a76;
}

.commments-count {
  float: right; /* LTR */
}

.node .content {
  margin: 1em 0 0 0;
}

.sticky {
  padding: 10px;
  background: transparent url(../images/contentbg.png);
}

.picture {
  float: right; /* LTR */
}

.picture a img {
  float: right;
  margin: 0 0 0.5em 0.5em;  /* LTR */
  padding: 5px;
  border: #ae537b dotted 1px;
}

.terms-links {
  background: transparent url(../images/sidebarbg.png);
  padding: 2px 15px;
}

.terms-links ul.links li {
  padding-left: 0;
}

.node-links {
  padding: 0;
}

.terms {
  display: inline;
}

.node-form {
  margin-bottom: 20px;
}

/* Sidebar */
.sidebar {
  background: transparent url(../images/sidebarbg.png) 0 0 repeat;
}

.sidebar a {
color: #fbd6fc;
}
.sidebar a:hover,
.sidebar a.active {
  color: #2e1737;
}

.sidebar h2.block-title {
  padding:0;
  margin: 5px 0;
  color:#fff;
  font-weight:200;
  border-bottom:#c15b8b solid 1px;
  font-weight: normal;
  font-size: 1.5em;
  line-height: 1.5em;
}

/* side list */
.sidebar .item-list ul {
  margin: 0;
  padding: 0;
}

.sidebar .item-list ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar .item-list ul li a {
  display: block;
  padding: 2px 0;
  background: transparent;
  border-bottom: 1px solid #ae537b;
}

.sidebar .item-list ul li a:hover,
.sidebar .item-list ul li a.active {
  color: #2e1737;
  background: transparent url(../images/sidebarbg.png) 0 0 repeat;
}

/* mission */
#mission {
  font-size: 1.2em;
  color: #fff;
  background: #c35d8a;
}

/* main-content blocks */
.content-block .block {
  overflow: auto;
  margin-bottom: 10px;
  padding: 10px;
}

#top-content-block .block {
  border: 1px dotted #ae537b;
}

#bottom-content-block .block {
  background: transparent url(../images/contentbg.png) 0 0 repeat;
}

.content-block h2.block-title {
  width: 100px;
  min-height: 50px;
  float: left; /* LTR */
  margin: 0 10px 10px 0; /* LTR */
  padding: 5px;
  color: #fff;
  background: transparent url(../images/contentbg.png) 0 0 repeat;
  font-weight: normal;
}

.content-block .block .content {
  margin-left: 120px; /* LTR */
}

/* footer */
#footer {
  padding: 270px 0 5px 0;
  color: #ccc;
}

#footer p {
  margin: 0;
  padding: 0;
}

#footer a {
  color: #ee5;
}

#footer a:hover {
  color: #fff;
}

/* sidebar comment block */
.sidebar .block-comment .item-list ul li,
.block-views .view-content .item-list ul li {
  padding: 2px 0;
  border-bottom:1px solid #ae537b;
}
.sidebar .block-comment .item-list ul li a,
.block-views .view-content .item-list ul li a {
  display: inline;
  border-bottom: 0 none;
}