
ul.menu {
  text-align:right;
}
ul.menu li {
  margin: 0 0.5em 0 0;
}
li.expanded {
  padding: 0.2em 0 0 0.5em;
}
li.collapsed {
  list-style-image: url(../images/menu-collapsed-rtl.gif);
  padding: 0.2em 0 0 0.5em;
}
li.leaf {
  padding: 0.2em 0 0 0.5em;
}

.block ul {
  margin: 0;
  padding: 0 1em 0.25em 0;
}