
/**
 * You may not need to edit this file!
 * If you really want to override default layout and style
 * you can add your style in the "custom.css" file
 * then activate it in the theme settings page.
 * (/admin/build/themes/settings/strange_little_town)
 */

/**
 * Master Layout
 */
body {
  position: relative;
}

#page {
  position: relative;
  margin:0;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}

#content-wrapper {
  clear: both;
  overflow: auto;
}

#main-content {
  float:left;
  width:100%;
  margin-right:-100%;
  padding:0;
  overflow: auto;
}

.sidebar {
  float:left;
  overflow: auto;
}

body.two-sidebars #content-inner {
  margin-left: 200px;
  margin-right: 200px;
}

body.sidebar-right #content-inner {
  margin-right: 200px;
}

body.sidebar-left #content-inner {
  margin-left: 200px;
}

#sidebar-left {
  width: 200px;
  margin-right:-200px;
}

#sidebar-right {
  float:right;
  width: 200px;
}

#header,
#footer {
  clear: both;
}

/**
 * Page Class Switch for Theme Settings
 */
.narrow {
  width: 780px;
}

.medium {
  width: 840px;
}

.wide {
  width: 960px;
}

.super-wide {
  width: 1020px;
}

.extreme-wide {
  width: 1140px;
}

.fluid {
  min-width: 740px;
  padding: 0 20px;
}

/**
 * Hidden Elements
 */
.hidden,
.hidden * {
  height: 0;
  margin: 0;
  padding: 0;
  visibility: hidden;
}

/**
 * Main Content
 */
.node {
  margin: 0 0 30px 0;
  padding: 0 0 30px 0;
}

h1.title {
  margin-bottom: 20px;
  padding-bottom: 5px;
}

#mission {
  margin: 0 0 20px 0;
  padding: 10px;
}

.node-links {
  clear: both;
  padding: 3px 10px;
}

/**
 * Sidebar
 */
.sidebar .block {
  margin-bottom: 40px;
}
 
.sidebar h2.block-title {
  margin-bottom: 10px;
  padding: 5px 0;
}

.sidebar h3 {
  margin-bottom: 10px;
}

/**
 * Footer
 */
#footer {
  padding-bottom: 1em;
  overflow: auto;
}

#to-top {
  float: right; /* LTR */
  padding: 0 0 1em 1em; /* LTR */
  font-size: 2em;
  line-height: 1em;
  font-weight: bold;
}