
/**
 * You may not need to edit this file!
 * If you really want to override default layout and style
 * you can add your style in the "custom.css" file
 * then activate it in the theme settings page.
 * (/admin/build/themes/settings/strange_little_town)
 */

body {
  font: 0.625em/1.6 GillSans, Calibri, Trebuchet, "Helvetica Neue", Helvetica, FreeSans, "Nimbus Sans L", "Microsoft Sans Serif", "Arial Unicode MS", Arial, "Liberation Sans", Thonburi, Kinnari, Garuda, Loma, Waree, "Lucida Grande", Tahoma, sans-serif;
}

 /**
 * BIDI for right to left language
 */
*[dir="rtl"] {
  direction: rtl;
  unicode-bidi: embed;
}

/**
 * Thai Language: 
 * การเลือกฟอนต์สำหรับแสดงผลภาษาไทยปนอังกฤษต้องเลือกฟอนต์ Latin ก่อน
 * เพราะปกติในบราวเซอร์ ถ้ามันเจอฟอนต์ Unicode ที่มีอักษรไทย
 * มันก็จะใช้ฟอนต์นั้นทั้งไทยและลาติน ถ้าไม่เจออักษรไทย
 * มันจึงจะมองหาฟอนต์ตัวต่อไปที่เราระบุไว้
 * และถ้าไม่เจอเลยซักตัว มันก็เลือกตามค่าดีฟอลต์ของบราวเซอร์
 * คุณสามารถระบุฟอนต์ไทยเองได้ โดยเอาคอมเมนต์ด้านล่างนี้ออกออก
 * แต่ใน IE มันคงไม่รู้จัก property นี้ [lang|="th"]
 */
/*
 *[lang ="th"] body {
  font-family: GillSans, Calibri, Trebuchet, "Helvetica Neue", Helvetica, FreeSans, "Nimbus Sans L", "Microsoft Sans Serif", "Arial Unicode MS", Arial, "Liberation Sans", Thonburi, Kinnari, Garuda, Loma, Waree, "Lucida Grande", Tahoma, sans-serif;
}
*/
/**
 * MacOS 10.5 ไม่สามารถแสดงผลฟอนต์ Thonburi ตัวหนาได้ เลยต้องระบุให้ใช้ Ayuthaya แทน
 * MacOS 10.5 cannot display Thai Thonburi Bold so use Ayuthaya (monospace) instead
 */
h1, h2, h3, h4, h5, h6,
*[lang ="th"] strong,
*[lang ="th"] #blocks td.region {
  font-family: GillSans, Calibri, Trebuchet, "Helvetica Neue", Helvetica, FreeSans, "Nimbus Sans L", "Microsoft Sans Serif", "Arial Unicode MS", Arial, "Liberation Sans", Ayuthaya, Kinnari, Garuda, Loma, Waree, "Lucida Grande", Tahoma, sans-serif;
  font-weight: bold;
}

/* Heading */
h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}

h4, h5, h6 {
  font-size: 1em;
}

/* Generic Elements */
input, select {
  font-size: 1em;
}

textarea {
  font-size: 1.2em;
}

code, pre {
  font-family: Ayuthaya, Monaco, Courier, "Courier New", "Andale Mono", monospace;
}

blockquote {
  font-weight: normal;
  font-size: 1em;
  line-height: 1.6em;
  font-style: italic;
}

/* theme elements/properties */
#main-content,
.sidebar {
  font-size: 1.2em;
}

#main-content table,
#main-content fieldset {
  font-size: 10px;
}